<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess Popularity</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <main>
        <div class="px-4 pt-5 my-5 text-center border-bottom" id="section">
        <div id="content">
    <div  id="picture-zone">
        <h1 class="display-4 fw-bold text-body-emphasis mb-4">Guess how popular the picture is</h1>
    <% if(locals.img){ %>
        <img class="mb-4 img-fluid" src="
        <%= img %>
        ">
        <!---->
        
        
    <%}else{%>
        <p class="lead mb-4">click to get a picture</p>
    <%}%>

    <% if(locals.error){ %>
        <p class="lead mb-4">something went wrong:<%= error %></p>
    <% } %>
    </div>

    <div id="text-zone">
    <% if(locals.downloads){ %>
        <p class="lead mb-4">
        it gains downloads in total:<%= downloads %>, 
        the difference is <%= difference %>
    </p>
    <% difference=difference/userGuess*100;%>
    <%if(Math.abs(difference)<50){ %>
        <p class="lead mb-4">amazing, you can really tell</p>
    <% } 
    else if(Math.abs(difference)<100){ %>
        <p class="lead mb-4">nice try!</p>
    
    <%}else{ %>
        <p class="lead mb-4">wait...are you serious?</p>
    <%}%>


    <%if(difference<0){%>
        <p class="lead mb-4">you underestimate by <%= difference.toFixed(1) %> %</p>
    <%}
    else{%>
        <p class="lead mb-4">you overestimate by <%= difference.toFixed(1) %> %</p>

    <%}}%>
    
    <form id="pictureRequest" method="post">
        <input class="btn btn-primary btn-lg px-4 me-md-2 mb-4" type="submit" value="get one" formaction="/getOne">
        </form>
    <form id="guessForm" class="d-grid gap-2  justify-content-sm-center " id="guessRequest" method="post">
        <div class="d-grid gap-2 justify-content-md-start">

        <label class="lead mb-4" for="guessInput">guess: it has __ downloads ?</label>
        <input class="mb-4 form-control" type="text" id="guessInput" name="downloads">
        <input class="btn btn-primary btn-lg px-4 me-md-2 " type="submit" value="submit" formaction="/submit">
        </div>
            </form>
    </div>
    </div>
</div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>